//main
$c-white: #ffff;
$c-black: #0000;

//background
$c-bfirstColor: #f0f1f1;
$thirdColor: #fad648;
$forthColor: #737373;


$fontColor: #3c3c3c;

//details
$dividerColor: #1a1818;

$secondColor: #5e5322;