//main
$c-white: #ffff;
$c-black: #0000;

//background
$c-bgfirst: #f0f1f1;
$c-bgsec: #fad648;



$c-font-fiirt: #3c3c3c;
$forthColor: #737373;

//details
$dividerColor: #1a1818;

$secondColor: #5e5322;