//styles
$font-base: "Open Sans", sans-serif;
$font-alt: "Merriweather", serif;

//weight
$fw-light: 300;
$fw-reg: 400;
$fw-sbold: 600;
$fw-bold: 700;
$fw-black: 900;

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: $fw-reg;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: $fw-reg;
}

h3 {
    text-align: center;
    font-weight: $fw-reg;
}

.decoration {
    width: 100px;
    height: 40px;
    margin: 5px;
    background-image: url("../../assets/Decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
