h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-weight: 400;
}

.decoration {
  width: 200px;
  height: 60px;
  margin: 5px;
  background-image: url("../../assets/Decoration.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
