@import "../main.scss";

//mediaquery
//

.about-section {
    display: flex;
    height: 400px;

    .about-box {
        width: 50%;
    }
}

.about-box1 {
    background-color: $c-bg1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-box1-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 5px;
        text-align: center;
    }

    .about-signature-container {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-end;

        .about-signature {
            background-image: url("../../assets/Signature.svg");
            width: 100px;
            height: 100%;
            margin-right: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.about-box2 {
    background-image: url("../../assets/People.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 990px) {
    .about-box2 {
        display: none;
    }
}
