@import "../main.scss";

.contact-container {
height: ;
    display: flex;

    .contact-box1 {
        width: 100%;
        background-image: url("../../assets/Background-Contact-Form.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .contact-box2 {
        display: flex;
        flex-direction: column;
    }
}
