@import "../main.scss";

.contact-container {
    height: 1000px;
    display: flex;

    .contact-box1 {
        width: 100%;
        height: 100%;
        background-image: url("../../assets/Background-Contact-Form.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        opacity: 0.1;
    }

    .contact-box2 {
        width: 45%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-box-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tittle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box-form-container {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.contact-box-form-part1 {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        outline: none;
    }
}

.contact-box-form-part2 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: 100%;

    input {
        outline: none;
    }
}

.contact-box-form-textarea {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        outline: none;
    }
}
.contact-form-element {
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid red;
}

.contact-form-element-textarea {
    padding: 5px;
    border: none;
    resize: none;
    border-bottom: 1px solid red;
}

.contact-button-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
