@import "../main.scss";

.contact-container {
    height: 500px;
    display: flex;

    .contact-box1 {
        width: 100%;
        height: 100%;
        background-image: url("../")
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        opacity: 0.2;
    }

    .contact-box2 {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-box-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tittle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box-form-container {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.contact-box-form-part1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-box-form-part2 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
}

.contact-box-form-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-form-element {
    border: none;
    border-bottom: 1px solid red;
}

.contact-form-element-textarea {
    height: 100px;
    width: 80%;
    border: none;
    border-bottom: 1px solid red;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
}
