@import "../main.scss";

.contact-container {
    height: 500px;
    display: flex;

    .contact-box1 {
        width: 65%;
        background-image: url("../../assets/Background-Contact-Form.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.5;
    }

    .contact-box2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
xx