@import "../main.scss";

.contact-container {
    display: flex;
    height: 400px;
    width: 100%;
}

.contact-box {
    width: 50%;

    .contact-box1 {
        width: 100%;
        height: 100%;
        background-image: url("../../assets/Background-Contact-Form.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .contact-box2 {
        display: flex;
        flex-direction: column;
    }
}
