@import "../main.scss";

.profits-container {
    height: 300px;
    background-image: url("../../assets/3\ Columns\ Background.png");
    background-position: center;
    background-size: cover;
    display: flex;
}

.profits-box {
    margin: 10px;
    padding: 30px;
    background: aquamarine;
    display: flex;
    flex-direction: column;

.box-n

}
