@import "../main.scss";

.simple-steps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simple-steps-tittle {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;

    h2 {
        margin-top: 25px;
    }
}

.simple-steps-section {
    height: 300px;
    background-color: $c-bg1;
}
