@import "../main.scss";

.simple-steps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simple-steps-tittle {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{

    }
}
