.wwh-container {
    height: 700px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wwh-carousel {
    height: 60%;
    width: 60%;
    background-color: pink;
    margin-top: 20px;
}

.wwh-info {

}
