.wwh-container {
    height: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wwh-carousel {
    height: 60%;
    width: 80%;
    background-color: pink;
    margin
}
