.wwh-list-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wwh-list-row {
    display: flex;
    justify-content: space-between;
}

.pagination-elements {
    display: flex;
}
