.wwh-list-container {
    width: 80%;
}

.wwh-list-row {
    width: 100%;
    display: flex;
    justify-content: space-between;


    h3 {
        text-align: start;
    }
}

.pagination-elements {
    display: flex;
}
