.nav_container {
    height: 80px;
    background: yellow;
    display: flex;
    // margin-top: -100px;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: flex-end;
}

.nav_menu {
    display: flex;

}

.nav_item {
    margin: 5px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
